/* 1. don't modify this style */
* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

/* 2. we use :root for default variables */
:root {
  /* --"somekey-attr": "somevalue" i.e : */
  --black-700: #000;
}
/* 3. and we use it like this */
.elementOne {
  /* var(--"somekey-attr") */
  background-color: var(--black-700);
}

/* good luck */
