/* 1. don't modify this style */
@font-face {
  font-family: Poppins;
  src: url(assets/fonts/Poppins-Regular.ttf);
  src: url(assets/fonts/Poppins-Bold.ttf);
}

*{
  font-family: Poppins;
}
body{
  width: 1440px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* 2. we use :root for default variables */
:root {
  /* --"somekey-attr": "somevalue" i.e : */
  --black-700: #000;
  --primary : #3B2A9F;
  --white : #FFFFFF;
  --secondary :#FA8305;


}
/* 3. and we use it like this */
.elementOne {
  /* var(--"somekey-attr") */
  background-color: var(--black-700);
}
.header{
  position: fixed;
  background-color:var(--primary);
  height: 100px;
  width: 1438px;
  color: var(--white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-right{
  width: 505.41;
  height: 41.34px;
  margin-bottom: 26.66px;
  margin-top: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-left: 59.18px;
  margin-right: 59.18px;
  display: flex;
  flex-direction: row;
  gap: 36.13px;
}
.header-right-menu{
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 88px;
  align-items: center;
}
.header-right-menu a{
  text-decoration: none;
  color: var(--white);
}

#logo{
  font-size: 29px;
  line-height: 44.51px;
  width: 81.93px;
  height: 45px;
  margin-left: 58.95px;
  margin-top: 25px;
  margin-bottom: 30px;
}
#light-button{
  font-weight: 400px;
  font-size: 13px;
  line-height: 19.5px;
  background-color: var(--secondary);
  width: 131.66px;
  height: 41.34px;
  border-radius: 6px;
  border: #FA8305;
  color: var(--white);
}
.header-right-menu a:active{
  border-bottom: 2px solid var(--secondary);
}
#aboutus-span{
  width: 74.85px;
}
main{
  background-color: var(--primary);
}
.first-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
}
#first-section-imag{
  width: 806px;
  height: 761px;
  margin-left: 145px;
}
#img-cry1{
  width: 101px;
  height: 99px;
  position: absolute;
  left: 828px;
  top: 202px;
}
#img-unreal{
  width: 59px;
  height: 64px;
  position: absolute;
  top: 218px;
  left: 1168px;
}
#img-unity{
  width: 96px;
  height: 30px;
  position: absolute;
  top: 409px;
  left: 649px;
}

.first-section-left{
  margin-left: 147px;
  margin-top: 203px;
  height: 409px;
  width:max-content;
  margin-top: 203px;
  margin-left: 147px;
  
}
#first-section-left-p1{
  font-weight: 700;
  width: 479px;
}
#first-section-left-p1{
  color: var(--secondary);
  font-size: 20px;
}
#first-section-left-p2{
  color: var(--white);
  font-size: 50px;
  font-weight: 700;
  margin-top: 17px;

}
#first-section-left-p3{
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  margin-top: 26px;

}
#first-section-left-btn{
  width: 195px;
  height: 53px;
  margin-top: 48px;
  border-radius: 25px;
  font-size: 16px;
  background-color: var(--secondary);
  border: 1px solid var(--secondary);
  color: var(--white);
}
#first-section-left-btn a{
  text-decoration: none;
  font-size: 16px;
  color: var(--white);
}


