*{
  font-family: Poppins;
}
body{
  width: 1440px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --black-700: #000;
  --primary : #3B2A9F;
  --white : #FFFFFF;
  --secondary :#FA8305;
  --primary2-100 : #5141AA;
  --gray : #898989;
}
.elementOne {
  background-color: var(--black-700);
}

#line{
  width: 30.97px;
  height: 4px;
  background-color: #FA8305;
  border-radius: 20px;
}
#dot{
  width: 5px;
  height: 4px;
  border-radius: 20px;
  background-color: #FA8305;
}
.bottom{
  display: flex;
  flex-direction: row;
  gap: 3px;
  margin-top: 6.8px;
  position: relative;
  right: 13.99px;
}

main{
  background-color: var(--primary);
}
.first-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
}
#first-section-imag{
  width: 807px;
  height: 761px;
  margin-left: 145px;
}
#img-cry1{
  width: 101px;
  height: 99px;
  position: absolute;
  left: 828px;
  top: 202px;
}
#img-unreal{
  width: 59px;
  height: 64px;
  position: absolute;
  top: 218px;
  left: 1168px;
}
#img-unity{
  width: 96px;
  height: 30px;
  position: absolute;
  top: 409px;
  left: 649px;
}

.first-section-left{
  margin-left: 147px;
  height: 409px;
  width:max-content;
  margin-top: 203px;
  margin-left: 147px;
  
}
#first-section-left-p1{
  font-weight: 700;
  width: 479px;
}
#first-section-left-p1{
  color: var(--secondary);
  font-size: 20px;
}
#first-section-left-p2{
  color: var(--white);
  font-size: 50px;
  font-weight: 700;
  margin-top: 17px;

}
#first-section-left-p3{
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  margin-top: 26px;

}
#first-section-left-btn{
  width: 195px;
  height: 53px;
  margin-top: 48px;
  border-radius: 25px;
  font-size: 16px;
  background-color: var(--secondary);
  border: 1px solid var(--secondary);
  color: var(--white);
}
#first-section-left-btn a{
  text-decoration: none;
  font-size: 16px;
  color: var(--white);
}
.second-section{
  margin-top: 132px;
}
.second-section-top{
  height: 58px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 603px;
  margin-left: 148px;
  margin-right: 146px;
  align-items: center;
}
.second-section-top p{
  width: 405px;
  color: var(--white);
  font-family: Rubik;
  font-weight: 700;
  font-size: 31px;
}
#second-section-button{
  width: 139px;
  height: 57px;
  font-family: Rubik;
  font-weight: 500;
  font-size: 20px;
  background-color: var(--primary2-100);
  border: 2px solid var(--primary2-100);
  border-radius: 10px;
  color: var(--white);
}
.second-section-buttom{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 47px;
  margin-left: 110px;
  margin-right: 146px;
  margin-top: 57px;
}
.second-section-buttom ul{
  display: flex;
  flex-direction: column;
}
.second-section-buttom2-li{
  position: relative;

}
.second-section-buttom-sec2{
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 9px;
  color: var(--white);
  font-family: Rubik;
  font-size: 22px;
  font-weight: 500;
}
.sec1-img{
  width: 251px;
  height: 277px;

}
.sec1-img:hover{
  opacity: 0.5;
}
.second-section-buttom-sec2:hover .fire{
  transform: scale(1.5);
}
.followers{
  cursor: pointer;
}
#second-section-lorem{
  width: 826px;
  height: 132px;
  font-weight: 600;
  font-size: 35px;
  color: var(--white);
  margin-left: 308px;
  margin-right: 306px;
  margin-top: 129px;
  text-align: center;
}
.third-section{
  width: 545px;
  height: 173px;
  margin-left: 148px;
  color: var(--white);
}

.third-section span{
  font-weight: 600;
  font-size: 30px;
  margin-top: 67px;
}
.third-section p{
  font-weight: 400;
  font-size: 16px;
  margin-top: 32px;
}
#rect4{
  width: 1146px;
  height: 462px;
  border-radius: 5px;
  margin-top: 46px;
  margin-left: 148px;
  margin-left: 146px;
  z-index: 1;
  position: relative;
}
#group21{
  width: 196px;
  height: 154px;
  position: absolute;
  top: 1797px;
  left: 972px;
}
.fourth-section{
  width: 1440px;
  height: 678px;
  margin-bottom: 234px;
}
.fourth-section-top{
  margin-top: 148px;
  color: var(--white);
}
.fourth-section-top span{
  width: 305px;
  display: block;
  font-weight: 700;
  font-size: 30px;
  margin-left: 568px;
  margin-right: 567px;
}
.fourth-section-top p{
  width: 497px;
  font-weight: 400;
  font-size: 14px;
  margin-left: 472px;
  margin-right: 470px;
  text-align: center;
}
.fourth-section-buttom{
  margin-top: 71px;
  margin-left: 136px;
  margin-right: 134px;
  display: flex;
  flex-direction: column;
  gap: 33px;
}
.fourth-section-buttom-sec{
  display: flex;
  flex-direction: row;
  gap: 27px;

}
#fourth-section-button{
  margin-left: 651px;
  margin-right: 650px;
  margin-top: 72px;
  width: 139px;
  height: 57px;
  font-family: Rubik;
  font-weight: 500;
  font-size: 20px;
  background-color: var(--primary2-100);
  border: 2px solid var(--primary2-100);
  border-radius: 10px;
  color: var(--white);
}





